@model IEnumerable<WebApp.Models.DTOs.Category.CategoryDto>



           @* public int CategoryID { get; set; }

        public string CategoryName { get; set; }

        public string Description { get; set; }

        public byte[] Picture { get; set; }*@

<br />
<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Listado de Categorias</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-action="Create" class="btn btn-primary"> <img src="~/lib/bootstrap/bootstrap-icons-1.9.1/plus-lg.svg" alt="pen"> Alta Categoria</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Descripcion
                </th>
           @*     <th>
                    Imagen
                </th>*@                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.CategoryName
                    </td>
                    <td>
                        @item.Description
                    </td>
                 @*   <td>
                        @item.Picture
                    </td> *@                
                    
                    <td>
                      
                        <a asp-action="Edit" class="btn btn-success" asp-route-productId="@item.CategoryID">
                            <img src="~/lib/bootstrap/bootstrap-icons-1.9.1/pencil-square.svg" alt="pen">
                        </a>
                        <a asp-action="GetDelete" asp-controller="Category" class="btn btn-danger" asp-route-productId="@item.CategoryID">
                             <img src="~/lib/bootstrap/bootstrap-icons-1.9.1/trash-fill.svg" alt="pen">
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>