@model IEnumerable<WebApp.Models.Dto.Product.ProductDto>

<br />
<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Listado de Productos</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-action="Create" class="btn btn-outline-primary"><i class="fas fa-plus"></i>Alta Producto</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    ProductName
                </th>
                <th>
                    SupplierID
                </th>
                <th>
                    CategoryID
                </th>
                <th>
                    QuantityPerUnit
                </th>
                <th>
                    UnitPrice
                </th>
                <th>
                    UnitsInStock
                </th>
                <th>
                    UnitsOnOrder
                </th>
                <th>
                    ReorderLevel
                </th>
                <th>
                    Discontinued
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.ProductName
                    </td>
                    <td>
                        @item.SupplierID
                    </td>
                    <td>
                        @item.CategoryID
                    </td>
                    <td>
                        @item.QuantityPerUnit
                    </td>
                    <td>
                        @item.UnitPrice
                    </td>
                    <td>
                        @item.UnitsInStock
                    </td>
                    <td>
                        @item.UnitsOnOrder
                    </td>
                    <td>
                        @item.ReorderLevel
                    </td>
                    <td>

                        @if(item.Discontinued){
                         <span>Si</span>
                        }
                        else
                        {
                            <span>No</span>
                        }


                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-success" asp-route-productId="@item.ProductID">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a asp-action="GetDelete" asp-controller="Product" class="btn btn-danger" asp-route-productId="@item.ProductID">
                           <i class="bi bi-trash-fill"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>